@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: rgb(192, 118, 22);
  color: brown;
  text-align: center;
  margin-top: 100px;
}


#jokewrap {
  padding-left: 10px;
  padding-right: 10px;
  margin: 2vh auto 0;
  text-align: center;
}